body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Open Sans', sans-serif;
  color: #ffffff;
  background-color: #2f3241;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

* {
  padding: 0;
  margin: 0;
}

.right-part {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

@media (max-width: 660px) {
  .features .feature-item {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .links {
    flex-direction: column;
    line-height: 32px;
  }

  .links .link-dot {
    display: none;
  }

  .features .feature-item {
    width: 100%;
  }
}
