.left-bar {
    width: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.2);
}

.logo-content {
    padding: 10%;
}

.button {
    background-color: transparent;
    border: solid 2px var(--black);
    border-radius: 15px;
    height: 45px;
    width: 90%;
    font-size: 17px;
}

.zones-container {
    width: 100%;
}

.zone-name {
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding: 10px 0;
    border-bottom: solid 1px var(--black);
}

.zone-name:hover {
    opacity: 0.5;
}