.zones-container {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.zone {
    width: 100px;
    height: 100px;
    border: 1px solid var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: var(--grey);
    padding: 10px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
}

.close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.reservation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

select {
    width: 50%;
}